
<nav class="navbar navbar-fixed-top navbar-inverse navbar-toggleable-md navbar-light">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" id="logo">NEWS TOUR</a> 
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item active">
          <a class="nav-link " routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" >Account</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/fav" routerLinkActive="active" >Display Favourites</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/news" routerLinkActive="active" > Search News Channel</a>
        </li>
       
      </ul>
       
     
    </div>
</nav>


<router-outlet></router-outlet>

 <!--FOOTER 2-->
<footer class="footer2">
  <div class="footer">
      <div class="container">
          <div class="row">
              <nav class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Browse </h3>
                  <ul>
                      <li>
                          <a href="#">News</a>
                      </li>
                      <li>
                          <a href="#">Sport</a>
                      </li>
                      <li>
                          <a href="#">Business</a>
                      </li>
                      <li>
                          <a href="#">Entertainment</a>
                      </li>
                      <li>
                        <a href="#">Life & Style</a>
                      </li>
                  </ul>
              </nav>
              <nav class="col-md-3 col-sm-6 col-xs-12">
                <h3>This Site</h3>
                <ul>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Terms Of Use</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                    <li>
                      <a href="#">Archive</a>
                   </li>
                </ul>
                  
              </nav>
              <nav class="col-md-3 col-sm-6 col-xs-12">
                  
              </nav>

              <nav class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Link <span>with us on :</span></h3>
                  
                  <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  </ul>
              </nav>

          </div> <!--/.row--> 
      </div> <!--/.container--> 
  </div> <!--/.footer-->
  
  <div class="footer-bottom">
      <div class="container">
          <div class="pull-left"> Copyright © News Tour Network 2017. All right reserved.</div>
          <div class="pull-right">
              <ul>
                  <li><a  routerLink="" routerLinkActive="active">Home</a></li>
                  <li><a  routerLink="/login" routerLinkActive="active">Account </a></li>
                  <li><a  routerLink="/news" routerLinkActive="active">Search Channels</a></li>
                  <li><a  routerLink="/fav" routerLinkActive="active">Display Favourites</a></li>
              </ul> 
          </div>
      </div>
  </div> <!--/.footer-bottom--> 
</footer>
